* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}


body {
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

header, main, nav, footer {
    background: #e4e4e4;
    padding: 20px;
    width: 100%;
    border: 2px solid rgba(92, 92, 92, 0.79);
}

main, nav, footer {
    margin: 40px 0;
}